<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace对应的dao接口-->
<mapper namespace="com.cheer.dao.goodsMapper">
    <!-- id是方法名 #{id}是方法参数parameterType -->

    <select id="getgoods" resultType="Goods">
    select * from goods where goodsName like #{goodsName}
    </select>

    <select id="getGoodsPrice" resultType="Goods">
        select * from goods where goodsPrice &gt;#{priceMin} and goodsPrice &lt; #{priceMax}
    </select>

    <select id="getAllGoods" resultType="Goods">
        select * from goods
    </select>

    <select id="getAnyGoods" resultType="Goods">
        select * from goods where goodsName = #{goodsName}
    </select>

    <update id="updateGoodsNumber">
        update goods set goodsNumber = #{goodsNumber} where goodsName = #{goodsName}
    </update>

</mapper>