<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace对应的dao接口-->
<mapper namespace="com.cheer.dao.orderMapper">
    <!-- id是方法名 #{id}是方法参数parameterType -->

    <select id="getOrder" resultType="Order">
   select * from `order` where goodsName = #{goodsName}
    </select>

    <select id="getAllOrder" resultMap="orderResult">
 	SELECT
		`order`.orderId AS orderId,
		`order`.orderUserName AS orderUserName,
		`order`.goodsName AS goodsName,
		`order`.orderPrice AS orderPrice,
		`order`.goodsNumber AS goodsNumber,
		`order`.dateTime AS dateTime,
		iocation.iocationName AS iocationName,
		iocation.iocationPhone AS iocationPhone,
		iocation.iocation AS iocation
	FROM
		`order`
		JOIN iocation ON ( `order`.iocationId = iocation.iocationId )
	WHERE
		orderUserName = #{orderUserName}
		AND iocation.iocationId = `order`.iocationId
    </select>

    <resultMap id="orderResult" type="Iocation">
        <association property="iocation" resultMap="iocationResult"></association>
    </resultMap>

    <resultMap id="iocationResult" type="Iocation">
        <result property= "iocationId" column="iocationId"></result>
    </resultMap>

    <insert id="addOrder" >
        insert into `order` values (#{orderId},#{goodsName},#{goodsNumber},#{goodsPrice},#{iocationId},#{dateTime},#{orderUserName})
    </insert>

    <delete id="deleteOrder">
        delete from `order` where orderUserName = #{orderUserName} and orderId = #{orderId}
    </delete>

    <select id="getOrderPrice" resultType="Double" >
        select orderPrice*goodsNumber from `order` where goodsName = #{goodsName}
    </select>


</mapper>