<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace对应的dao接口-->
<mapper namespace="com.cheer.dao.orderMapper">
    <!-- id是方法名 #{id}是方法参数parameterType -->

    <select id="getOrder" resultType="Order">
   select * from `order`where goodsName = #{goodsName}
    </select>

    <select id="getAllOrder" resultType="Order">
    select * from `order` where orderUserId = #{orderUserId}
    </select>

    <insert id="addOrder" >
        insert into `order` values (#{orderId},#{goodsName},#{goodsNumber},#{goodsPrice},#{iocation},#{orderUserId},#{dateTime})
    </insert>

    <delete id="deleteOrder">
        delete from `order` where orderId = #{orderId}
    </delete>


</mapper>