<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace对应的dao接口-->
<mapper namespace="com.cheer.dao.ShopCartMapper">
    <!-- id是方法名 #{id}是方法参数parameterType -->

    <select id="getAllCartGoods" resultType="ShopCart">
   select goodsName,goodsNumber,goodsPrice,userName from shopCart
    </select>

    <select id="getCartGoods" resultType="ShopCart">
   select goodsName,goodsNumber,goodsPrice,userName from shopCart where goodsName = #{goodsName}
    </select>

    <update id="updateGoodsNumber">
   update purchasegoods set goodsNumber = #{goodsNumber} WHERE goodsName = #{goodsName}
    </update>

    <delete id="deleteGoods">
   DELETE from purchasegoods where goodsName = #{goodsName}
    </delete>

    <delete id="deleteAllGoods">
   truncate table purchasegoods
    </delete>

    <insert id="addCartGoods" >
        insert into shopcart
        values(shopId =#{shopId},goodsName = #{goodsName},goodsNumber = #{goodsNumber},goodsPrice = #{goodsPrice},UserName = #{UserName} )
    </insert>



</mapper>