<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace对应的dao接口-->
<mapper namespace="com.cheer.dao.ShopCartMapper">
    <!-- id是方法名 #{id}是方法参数parameterType -->

    <select id="getAllCartGoods" resultType="ShopCart">
   select * from shopcart where userName = #{userName}
    </select>

    <select id="getCartAnyGoods" resultType="ShopCart">
   select * from shopcart where goodsName = #{goodsName} and userName = #{userName}
    </select>

    <update id="updateGoodsNumber">
   update shopcart set goodsNumber = #{goodsNumber} WHERE goodsName = #{goodsName} and userName = #{userName}
    </update>

    <delete id="deleteGoods">
   DELETE from shopcart where goodsName = #{goodsName} and userName = #{userName}
    </delete>

    <delete id="deleteAllGoods">
   truncate table shopcart where userName = #{userName}
    </delete>

    <insert id="addCartGoods" >
        insert into shopcart
        values(#{shopId},#{goodsName},#{goodsNumber},#{goodsPrice},#{UserName} )
    </insert>
    
    <select id="getPrice" resultType= "Double">
       select goodsNumber*goodsPrice from shopcart where goodsName = #{goodsName} and userName = #{userName}
    </select>



</mapper>